@font-face {
    font-family: "Jonathan";
    src: local("Jonathan"), url(../Fonts/Jonathan.ttf), format("true type"); 
}
@font-face {
    font-family: "Cormorant";
    src: local("Cormorant"), url(../Fonts/Cormorant-Bold.otf), format("open type") 
}


@font-face {
    font-family: "kristen";
    src:  local( "kristen"), url(../Fonts/ITCKRIST.ttf), format( "true type");
}
.about {
    background-color: white; 
    width: 100%; 
    height: 100%; 
    position: "relative";
}


.pinkmarble {
    width: 1438px;
    height: 340px ;
    position: relative;
    object-fit: cover;
    display: flex;
    justify-content: center;
}

.me {
    font-family: 'Sunflower', sans-serif;;
    font-weight: bolder;
    font-size: 130px;
    font-stretch: 15%;
    height: 130px;
    width: 500px;
    position: absolute;
    top: 23%;
    bottom: auto;
    margin-right: auto;
    margin-left: 52%;
    color: #A67663;
    z-index: 1;
}

.highpark {
    width: 400px;
    height: 670px;
    object-fit: cover;
    border: 4px solid #5E5E5E;
    position: absolute;
    top: 10%;
    margin-left: 10%;
    display: flex;
    z-index: 1;
}


.text {
    color: #A67663;
    font-family: 'Satisfy', cursive;
    width: 680px;
    height: 350px; 
    font-stretch: 10%;
    font-size: 35px;
    margin-left: 45%;
    display: flex;
    align-items: center;
    text-align: center;
    
}

