
.pinkmarble {
    width: 100%;
    height: 55%;
    position: absolute;
    z-index: -1;
}

.me {
    font-family:  'Open Sans Condensed', sans-serif;
    position: relative;
    font-size: 100px;
    height: 10%;
    width: 60%;
    color: #A67663;
    top: 10%;
    left: 15%;
}

.highpark {
    width: 23%;
    margin-left: 10%;
    margin-right: 10%;
    vertical-align: middle;
    border: 4px solid #5E5E5E;
    position: relative;
}

.words {
    display: inline-block;
}
.text {
    color: #A67663;
    font-family: 'Satisfy', cursive;
    margin-top: 110px;
    width: 95%;
    height: 30%; 
    font-stretch: 10%;
    font-size: 35px;
}

