
.about {
    background-color: white; 
    width: inherit; 
    height: inherit; 
    position: "absolute";
}


.pinkmarble {
    width: 100%;
    height: 55%;
    position: absolute;
}

.me {
    font-family: 'Sunflower', sans-serif;;
    font-size: 100px;
    height: 130px;
    width: 500px;
    position: relative;
    color: #A67663;
    z-index: 1;
}

.highpark {
    width: 400px;
    height: 670px;
    object-fit: cover;
    border: 4px solid #5E5E5E;
    position: absolute;
    top: 10%;
    position: relative;
    margin-left: 10%;
    display: flex;
    z-index: 1;
}

.text {
    color: #A67663;
    font-family: 'Satisfy', cursive;
    width: 680px;
    height: 350px; 
    font-stretch: 10%;
    font-size: 35px;
}

