@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap'); /*font-family: 'Pinyon Script', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap'); /*font-family: 'Open Sans Condensed', sans-serif;*/

@font-face {
    font-family: "Jonathan";
    src: url(../Fonts/Jonathan.ttf) format('TrueType'); 
}

@font-face {
    font-family: "kristen";
    src:  url(../Fonts/ITCKRIST.ttf) format( "truetype");
}

html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

p {
    margin:0;
}