a {text-decoration: none;}

.logo {
    width: 8%;
    height: 8%;
}

.signature {
    font-family:'Kaushan Script', cursive;
    font-size: 20px;
    color: #700136;
}
.toolbar {
    border: 2px solid red;
    width: 25%;
}

.button {
    margin-left: 3%;
    margin-right: 3%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    padding: 10px;
}