.background1 {
    background-color: #F4D8D4; 
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.joni {
    font-size: 140px;
    color: #F8E8E5;
    position: relative;
    font-family: 'Cormorant', serif;
   
}

.student {
    font-size: 130px;
    color: #A67663;
    height: 100px;
    position: absolute;
    font-family: 'Jonathan'; 
    z-index: 2;
}

.soropia {
    font-size: 140px;
    color: #F8E8E5;
    position: relative;
    font-family: 'Cormorant', serif;
}

.arrow {
    background-color: transparent;
    width: 15%;
    height: 15%;
    top: 50%;
    left: 85%;
    font-family: "kristen";
    font-size: 90px;
    font-weight: bolder;
    color: #E2CAC6;
    opacity: 45% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.arrowBack {
    background-color: transparent;
    width: 15%;
    height: 15%;
    top: 50%;
    right: 85%;
    font-family: "kristen";
    font-size: 90px;
    font-weight: bolder;
    color: #E2CAC6;
    opacity: 45% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

